.card {
    display: flex;
    flex-direction: column;
    width: 29%; 
    border: 2px solid var(--border-color);
    padding: 1.5%;
    border-radius: 12px;
    margin-bottom: 1.5%;
}

.card_withOutImage {
    justify-content: center;
}

.card__image {
    width: 100%;
    height: auto;
}

.card__title {
    font-size: 20px;
    margin: 20px 0 5px 0;
}

.card__subTitle {
    color: var(--secondary-color);
}

.card__title_withOutImage {
    margin: 0 0 5px 0;
}