.footer {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    border-top: solid 1px var(--secondary-color) ;
    padding: 36px 0 36px 0;
    margin-top: 100px;
}

.footer__menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

.footer__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.footer__nav a {
    display: flex;
    text-decoration: none;
    color: var(--secondary-color);
    transition: 200ms ease color;
}

.footer__nav a:hover {
    color: var(--accent-color);
}

.footer__theme {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3px;
    width: 100px;
    height: 40px;
    border: 1px solid var(--secondary-color);
    border-radius: 9999px;
}

.footer__theme svg {
    width: 16px;
    height: 16px;
    padding: 7px;
    cursor: pointer;
    border-radius: 50%;
}

.footer__theme_active {
    background-color: var(--footer-background-color);
    transition: 200ms ease all;
}