.footer {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    border-top: solid 1px #888888 ;
    padding: 36px 0 36px 0;
    margin-top: 100px;
}

.footer__menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

.footer__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.footer__nav a {
    display: flex;
    text-decoration: none;
    color: #888888;
    transition: 200ms ease color;
}

.footer__nav a:hover {
    color: #ffffff;
}

.footer__theme {
    display: flex;
    align-items: center;
    height: 40px;
    border: 1px solid #888888;
    border-radius: 9999px;
}

.footer__theme div {
    background-size: 100%;
    background-color: #ffffff;
    mask-size: 50%;
    -webkit-mask-size: 50%;
    width: 32px;
    height: 32px;
}

.footer__lightTheme {
    mask: url("../images/sun.svg") no-repeat center;
    -webkit-mask: url("../images/sun.svg") no-repeat center;
    
    
}

.footer__systemTheme {
    mask: url("../images/laptop.svg") no-repeat center;
    -webkit-mask: url("../images/laptop.svg") no-repeat center;
}

.footer__darkTheme {
    mask: url("../images/moon.svg") no-repeat center;
    -webkit-mask: url("../images/moon.svg") no-repeat center;
}