.header {
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid var(--secondary-color); 
    position: fixed;
    top: 0;
    background-color: #0000009f;
    backdrop-filter: blur(10px);
    z-index: 100000;
}

.header a {
    text-decoration: none;
}

.header__nav {
    display: flex;
    align-items: center;
    width: 80%;
    height: 64px;
}

@media(max-width: 767px) {
    .header__nav {
        width: 90%;
        justify-content: space-between;
    }
}

.header__links {
    display: flex;
    justify-content: space-between;
    width: 30%;
    list-style: none;
    padding: 0;
    margin: 0;
}

@media(max-width: 767px) {
    .header__links {
        display: none;
    }
}

.header__links a {
   color: var(--secondary-color);
   transition: 200ms ease color;
}

.header__links a:hover {
    color: var(--accent-color);
 }

 .header__logo {
    display: flex;
    align-items: center;
    margin-right: 100px;
}

.header__logo img {
    width: auto;
    height: 64px;
}

.header__title {
    color: var(--accent-color);
    font-size: 24px;
}

.header__btn {
    display: flex;
    margin-left: auto;
}

@media(max-width: 767px) {
    .header__btn {
        display: none;
    }
}

.header__installBtn {
    text-align: center;
    background: var(--accent-color);
    color: var(--theme-color);
    border-radius: 6px;
    border: 1px solid var(--accent-color);
    width: 130px;
    height: 35px;
    line-height: 35px;
}

.header__burgerMenu {
    display: block;
}

.header__burgerMenu span {
    display: block;
    width: 30px;
    height: 3px;
    background: var(--accent-color);
    margin: 6px auto;
    transition: 0.4s;
}

.header__burgerMenu_active span:nth-child(1) {
    transform: rotate(-45deg) translate(-6px, 6px);
}

.header__burgerMenu_active span:nth-child(2) {
    opacity: 0;
}

.header__burgerMenu_active span:nth-child(3) {
    transform: rotate(45deg) translate(-6px, -6px);
}

@media(min-width: 767px) {
    .header__burgerMenu {
        display: none;
    }
}

.header__burgerActive {
    position: fixed;
    top: 65px;
    transform: translateX(0);
    transition: 750ms ease transform;
}

.header__burgerNotActive {
    position: fixed;
    top: 65px;
    transform: translateX(200%);
    transition: 750ms ease transform;
}