.mainPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.mainPage a {
    text-decoration: none;
}

.mainPage__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

@media(max-width: 992px) {
    .mainPage__content {
        width: 90%;
    }
}

@media(max-width: 767px) {
    .mainPage__content {
        width: 95%;
    }
}