.review {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}


@media(max-width: 767px) {
    .review {
        justify-content: center;
    }
}

.review__text {
    line-height: 20px;
    margin-bottom: 30px;
}

.review__company {
    font-size: 18px;
    font-weight: 600;
}