.technology {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.technology__img {
    margin-bottom: 40px;
    max-width: 48px;
    height: auto;
}

.technology__title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.technology__text {
    font-weight: 300;
    color: var(--secondary-color);
}