.technology {
    display: flex;
    flex-direction: column;
    width: 28%;
    border: 5px solid var(--secondary-background-color);
    box-shadow: 0px 0px 3px var(--border-color);
    margin-bottom: 25px;
    border-radius: 12px;
    padding: 24px;
}

.technology__img {
    margin-bottom: 40px;
    max-width: 48px;
    height: auto;
}

.technology__title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.technology__text {
    font-weight: 300;
    color: var(--secondary-color);
}